.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: .1em;
  transition: all .3s ease;
  
  &:hover{
    background-color: $hoverBlue;
  }

  &--orange {
    background-color: $mainOrange;
    
    &:hover {
      background-color: $hoverOrange;
    }
  }

  &--large {
    padding: 1.3rem 2.4rem;
  }
  
  @mixin atSmall {
    font-size: 2rem;
  }
}