.flex {
  display: flex;
  
  &__wrap {
    flex-wrap: wrap;
  }

  &__nowrap {
    flex-wrap: nowrap;
  }

  &__row {
    flex-direction: row;
    
  }
  
  &__column {
    flex-direction: column;
    
    &--until-small {
      flex-direction: column;
      
      @mixin atSmall {
        flex-direction: row;
      }
    }
    &--until-medium {
      flex-direction: column;
      
      @mixin atMedium {
        flex-direction: row;
      }
    }
  }

  &__justify--sb {
    justify-content: space-between;
  }

  &__justify--end {
    justify-content: flex-end;
  }

  &__align-items--start {
    align-items: flex-start;
  }

  &__align-items--center {
    align-items: center;
  }

  &__gap {
    gap: 3rem;

    &--after-medium {
      gap: 0rem;
      
      @mixin atMedium {
        gap: 6rem;
      }
      
      &-x2 {
        gap: 3rem;

        @mixin atMedium {
          gap: 12rem;
        }
      }
    }
  }

  &__grow-1 {
    flex-grow: 1;
  }

  &__grow-2 {
    flex-grow: 2;
  }
}

