.large-hero {
  position: relative;
  display: grid;
  place-items: center;

  &__text-content {
    position: absolute;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 6.6rem;
    margin: 0;
  }
  
  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 4.2rem;
    margin: 0;
  }

  &__description {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 300;
    text-shadow: 1px 1px .5px rgba(0, 0, 0, .15);
    max-width: 42rem;
  }
}



