.primary-nav {

  & ul {
    display: flex;
    gap: 20px;
    margin: 0;
    margin-bottom: 1.8rem;
    padding: 0;
    justify-content: center;
    
    @mixin atMedium {
      margin-bottom: 0;
      justify-content: unset;
    }

    & li {
      list-style: none;

      & a {
        text-decoration: none;
        font-weight: 400;
        color: rgb(229, 228, 228);
        font-size: 1.6rem;
        transition: all .3s ease-out;
        
        &:hover {
          color: white;
        }

        @mixin atMedium {
          &.is-current-link {
            color: #fabb69;
          }
        }
      }
    }
  }
}