.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1103px;
  margin-left: auto;
  margin-right: auto;
  
  &--medium {
    max-width: 870px;
  }
  
  &--p0--until-medium {
    padding-left: 0;
    padding-right: 0;
    
    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--p0--until-large {
    padding-left: 0;
    padding-right: 0;
    
    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
  
  &--mb {
    margin-bottom: 1.6rem;
    
    @mixin atSmall {
      margin-bottom: 6.2rem;
    }
  }
  
  &--left {
    padding-left: 110px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

}